{% extends "seller/base.html" %}
{% block title %}
Show Cleared Up Data
{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <table class="table">
                <thead class="thead">
                    <tr>
                        <th>
                            Date
                        </th>
                        <th>
                            Time Block
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            Quantity/Volume
                        </th>
                    </tr>
                </thead>
                {% for object in objects %}
                <tr>
                    <td>
                        {{object.clearedreserve.date}}
                    </td>
                    <td>
                        {{object.clearedreserve.time_block}}
                    </td>
                    <td>
                        {{object.price}}
                    </td>
                    <td>
                        {{object.amount}}
                    </td>
                </tr>
                {% endfor %}

                {% endblock %}
        </div>
    </div>
</div>