{% extends "seller/base.html" %}
{% block title%}
Enter The Required Amount
{% endblock %}
{% block content %}
<div class="container">
    <form method="POST" action="#">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="form-group row">
                    <label for="date" class="col-sm-2 col-form-label">Date</label>
                    <div class="col-sm-10">
                        <input type="date" name="date" id="date" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            {% for time in timeblock %}
            <div class="col-2">
                {{time.time}}
            </div>
            <div class="col-5">
                <div class="form-group row">
                    <label for="q{{ time.id }}" class="col-sm-2 col-form-label">Quantity</label>
                    <div class="col-sm-10">
                        <input type="number" value="0" min="0" class="form-control" name="q{{ time.id }}"
                            id="q{{ time.id }}">
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="form-group row">
                    <label for="p{{ time.id }}" class="col-sm-2 col-form-label">Price</label>
                    <div class="col-sm-10">
                        <input type="number" value="0" min="0" class="form-control" name="p{{ time.id }}"
                            id="p{{ time.id }}">
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="col-12">
                <input type="submit" value="Submit" class="btn btn-primary btn-lg btn-block">
            </div>
        </div>
    </form>
</div>
{% endblock %}