asgiref==3.4.1
astroid==2.5.7
autopep8==1.5.7
click==8.0.1
colorama==0.4.4
Django==3.2.5
django-crispy==1.8.1
et-xmlfile==1.1.0
isort==5.8.0
joblib==1.0.1
lazy-object-proxy==1.6.0
mccabe==0.6.1
nltk==3.6.2
openpyxl==3.0.7
pycodestyle==2.7.0
pylint==2.8.2
pytz==2021.1
regex==2021.7.6
selenium==3.141.0
sqlparse==0.4.1
toml==0.10.2
tqdm==4.61.2
urllib3==1.26.6
wrapt==1.12.1
