{% extends "buyer/base.html" %}
{% block title %}
Show Cleared Up Data
{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            Date
                        </th>
                        <th>
                            Time Block
                        </th>
                        <th>
                            Details of cleared quantities
                        </th>
                    </tr>
                </thead>
                {% for cleared in clearedreserve %}
                <tr>
                    <td class="align-middle">
                        {{ cleared.date }}
                    </td>
                    <td class="align-middle">
                        {{ cleared.time_block }}
                    </Td>
                    <td>
                        <table class="table">
                            <thead class="thead">
                                <tr>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Quantity/Volume
                                    </th>
                                    <th>
                                        Price
                                    </th>
                                </tr>
                            </thead>
                            {% for clearedentity in cleared.clearentitydown_set.all %}
                            <tr>
                                <td>
                                    {{ clearedentity.name }}
                                </td>
                                <td>
                                    {{ clearedentity.amount }}
                                </td>
                                <td>
                                    {{ clearedentity.price }}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}