{% extends "accounts/base.html" %}
{% block title %}
Show Cleared Up Data
{% endblock %}
{% block content %}
<table>
    <tr>
        <td>
            Date
        </td>
        <td>
            Time Block
        </td>
        <td>
            Details of cleared quantities
        </td>
    </tr>
    {% for cleared in clearedreserve %}
    <tr>
        <td>
            {{ cleared.date }}
        </td>
        <td>
            {{ cleared.time_block }}
        </Td>
        <td>
            <table>
                <tr>
                    <td>
                        Name
                    </td>
                    <td>
                        Quantity/Volume
                    </td>
                    <td>
                        Price
                    </td>
                </tr>
                {% for clearedentity in cleared.clearentitydown_set.all %}
                <tr>
                    <td>
                        {{ clearedentity.name }}
                    </td>
                    <td>
                        {{ clearedentity.amount }}
                    </td>
                    <td>
                        {{ clearedentity.price }}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}