{% extends "buyer/base.html" %}
{% block title%}
Enter The Required Amount
{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <form method="POST" action="#">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="date" class="col-sm-2 col-form-label">Date</label>
                    <div class="col-sm-10">
                        <input type="date" name="date" id="date" class="form-control">
                    </div>
                </div>
                {% for time in timeblock %}
                <div class="form-group row">
                    <label for="q{{ time.id }}" class="col-sm-2 col-form-label">{{time.time}}</label>
                    <div class="col-sm-10">
                        <input type="number" value="0" min="0" class="form-control" name="q{{ time.id }}"
                            id="q{{ time.id }}">
                    </div>
                </div>
                {% endfor %}
                <input type="submit" value="Submit" class="btn btn-primary btn-lg btn-block">
            </form>
        </div>
    </div>
</div>
{% endblock %}