{% extends "buyer/base.html" %}
{% block title %}
Buyer Home Page
{% endblock %}
{% block style %}
<style>
    .top2 {
        margin-top: 2%;
    }

    .top7 {
        margin-top: 7%;
    }

    .top10 {
        margin-top: 10%;
    }

    .top15 {
        margin-top: 15%;
    }

    .top17 {
        margin-top: 17%;
    }

    .top30 {
        margin-top: 30%;
    }
</style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1>Welcome, {{ user.get_username }}.
                <hr>What would you like to do?
            </h1>
        </div>
    </div>
    <div class="row justify-content-center top2">
        <div class="col-5">
            <a href={% url 'update' %} class="btn btn-secondary btn-lg btn-block" role="button">Update Data</a>
        </div>
        <div class="col-5">
            <a href={% url 'display' %} class="btn btn-secondary btn-lg btn-block" role="button">Display Data</a>
        </div>
    </div>
    <div class="row justify-content-center top2">
        <div class="col-5">
            <a href={% url 'rtm' %} class="btn btn-secondary btn-lg btn-block" role="button">Access Real Time Market</a>
        </div>
        <div class="col-5">
            <a href={% url 'dat' %} class="btn btn-secondary btn-lg btn-block" role="button">Access Day Ahead Market</a>
        </div>
    </div>
</div>
{% endblock %}