{% extends "buyer/base.html" %}
{% block title %}
Buyer Home Page
{% endblock %}
{% block style %}
<style>
    .top2 {
        margin-top: 2%;
    }

    .top7 {
        margin-top: 7%;
    }

    .top10 {
        margin-top: 10%;
    }

    .top15 {
        margin-top: 15%;
    }

    .top17 {
        margin-top: 17%;
    }

    .top30 {
        margin-top: 30%;
    }
</style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1>Welcome, {{ user.get_username }}.
                <hr>What would you like to do?
            </h1>
        </div>
    </div>
    <div class="row justify-content-center top2" style="border-top: 1px solid;padding-top: 1%;">
        <div class="col-8">
            <h1>Real Time Market
            </h1>
        </div>
    </div>
    <div class="row justify-content-center top2">
        <div class="col-5">
            <a href="#" class="btn btn-secondary btn-lg btn-block" role="button">Download Data</a>
        </div>
        <div class="col-5">
            <a href="#" class="btn btn-secondary btn-lg btn-block" role="button">Refresh Existing Data</a>
        </div>
    </div>
    <div class="row justify-content-center top2" style="border-top: 1px solid;padding-top: 1%;">
        <div class="col-8">
            <h1>Day Ahead Market
            </h1>
        </div>
    </div>
    <div class="row justify-content-center top2">
        <div class="col-5">
            <a href="#" class="btn btn-secondary btn-lg btn-block" role="button">Download Data</a>
        </div>
        <div class="col-5">
            <a href="#" class="btn btn-secondary btn-lg btn-block" role="button">Refresh Existing Data</a>
        </div>
    </div>
</div>
</div>
{% endblock %}